.place__paragraph {
    font-family: "Inter", "Arial ", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    margin: 0 0 26px 0;
    padding: 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 650px) {
    .place__paragraph {
      font-size: 16px;
      max-width: calc(100% - 2*16px);
      padding-left: 16px;
      margin-bottom: 25px;
    }
  }